<div class="container about">
  <div class="row about-row" >
    <p class="about-title">What it's all about</p>
      <div class ="well">
        <p><strong>Shred WA</strong> was designed to be the one stop
       weather application to help you shred the great state of Washington.
       The weather here can make conditions incredible but it's always a good idea to
       heck in on what the weather is doing. Feel free to pack for the opposite conditions
        as well though because you never know what can happen out there but we will do
        our best to help you make the right decisions.
        </p>
      </div>
    </div>
  <div class="row">
    <p class="about-title">About the Creator</p>
      <div class="well">
        <div class="row">
          <div class="col-md-6">
            <p>
              Shred WA was created by Steven Aldous to selfishly
              help find the best days to go ride. Steven is no stranger to the shred,
              but he is new to Web Development. This application was built as the culmination of a
              twelve week program through General Assembly in Seattle.
            </p>
          </div>
           <div class="col-md-6">
            <img src="/images/aboutbg.jpg" class="img-responsive"/>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <p class="about-title">How it was built</p>
      <div class="well" id="last-well">
        <div class="row">
          <p><strong>Stack:</strong> AngularJS, Sails, MongoDB, Bootstrap</p>
          <p><strong>API:</strong> Trail.API, OpenWeatherData </p>
        </div>
        <div class="row">
          <ul class="list-inline">
          <li><a href="mailto:stevenaldous@gmail.com"><img class="icons" src="/images/email.png"/></a></li>
          <li><a href="https://github.com/stevenaldous/shred_nw"><img class="icons" src="/images/github-256.png"/></a></li>
          <li><a href="https://www.linkedin.com/pub/steve-aldous/52/266/523"><img class="icons" src="/images/linkedin-512.png"/></a></li>
          </ul>
        </div>
      </div>
  </div>
</div>