<nav class="navbar navbar-fixed-top" ng-controller="NavCtrl">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Shred WA</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div collapse="navCollapsed" class="navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a id="navlink" href="/" >home</a></li>
          <li><a id="navlink" href="/about">about</a></li>
          <li><a id="navlink" href="/snow">snow</a></li>
          <li><a id="navlink" href="/dirt">dirt</a></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </nav>

<div class="container-fluid">
  <div class="row" id="site-viewport">
    <ng-view></ng-view>

