<div class="container show-container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <p class="show-title">{{trail.name}}</p>
    </div>
  </div>  <!-- end of header row -->
  <div class = "row">
    <div class="col-md-6 col-lg-6">
      <forecast lat="trail.lat" lon="trail.lon"></forecast>
    </div>
    <div class="col-md-6 col-lg-6">
      <img src="{{trail.image}}" id="show-image" class="img-responsive"/>
    </div>
  </div>
  <br>
  <div class="row show-info">
    <div class="scroll-description">
      <p>{{trail.description}}</p>
      <p><a href="{{trail.url}}" target="_blank">more info</a></p>
    </div>
  </div>
</div>