body{
  background-image: url('/images/snake_run.jpg');
  background-position: center center;
  background-size: cover;
}

/*  Navbar  */
.navbar{
  border-style: none;
  background-color: rgba(255,255,255,.8);
  color: rgba(0,0,0,.8);
}
.navbar-brand{
  color: rgba(0,0,0,.6);
  font-size: 35px;
}
.navbar-brand:hover{
  color: rgba(0,0,0,1);
  font-size: 36px;
}
.nav a{
  color: rgba(0,0,0,.7);
  font-size: 20px;
}
#navlink:hover{
  background: none;
  color: rgba(0,0,0,1);
  font-size: 21px;
}
#navlink:active{
  background: none;
  color: rgba(0,0,0,.7);
  font-size: 20px;
}
#navlink:visited{
  background: none;
  color: rgba(0,0,0,.7);
  font-size: 20px;
}
/*  site continer styles  */
#site-viewport{
  margin-top: 60px;
  height: 100%;
  overflow: scroll;
}
 /*  home syles  */
.launch-row{
  margin-top: 25%;
}
.launch{
  font-size: 100px;
  color: rgba(255,255,255,.7);
}
.launch:hover{
  font-size: 101px;
  color: rgba(255,255,255,.9);
  text-decoration: none;
}

/*  shred index pages  */
.index-container{
  background-color: rgba(255,255,255,.6);
  color: rgba(0,0,0,.7);
}
.dirt-search input{
  background: none;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom-style: solid 2px;
  border-bottom-color: rgba(0,0,0,.7);
  font-size: 16px;
  color: rgba(0,0,0,.7);
  text-decoration: none;
  font-weight: bold;
  outline: none;
}
.dirt-search input::-webkit-input-placeholder{
  color: rgba(0,0,0,.4);
  outline: none;
}
.dirt-search input:active{
  background: none;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom-style: solid 2px;
  border-bottom-color: rgba(0,0,0,.8);
  font-size: 16px;
  color: rgba(0,0,0,.8);
  text-decoration: none;
  font-weight: bold;
}
.dirt-search button{
  background: none;
  border: none;
  font-size: 16px;
  color: rgba(0,0,0,.7);
  text-decoration: none;
  font-weight: bold;
}
.dirt-search button:hover{
  background: none;
  border:none;
  font-size: 17px;
  color: rgba(0,0,0,.8);
  text-decoration: none;
  font-weight: bold;
}

.scroll-table{
  height: 500px !important;
  overflow: scroll;
}
.table thead{
  font-size: 18px;
  color: rgba(0,0,0,.7);
  font-weight: bold;
}
.table tbody{
  font-size: 16px;
  color: rgba(0,0,0,.7);
  font-weight: bold;
}
.table a{
  font-size: 16px;
  color: rgba(0,0,0,.7);
  text-decoration: none;
  font-weight: bold;
}
/*  footer settings   */
#footer h1{
  position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
